<div class="all-title-box">
    <div class="container text-center">
        <h1  *ngIf="url === '/course-detail/cma/foundation'">CMA FOUNDATION COURSE</h1>
        <h1 *ngIf="url === '/course-detail/cma/intermediate'">CMA Intermediate COURSE</h1>
        <h1 *ngIf="url === '/course-detail/cma/final'">CMA Professional COURSE</h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="row"  *ngIf="url === '/course-detail/cma/foundation'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../../assets/images/blog_9.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CMA FOUNDATION COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
                                We ensure that you receive the best content while also making you feel at ease with the
                                dedicated hard work.
                                We also provides online classes – Engaging videos lectures, Active doubt sessions and
                                test papers..
                                Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by
                                renowned faculties.
                            </p>
                        </div>
                        <div>
                            <h4>
                                About CMA Foundation
                            </h4>
                            <div>
                                <ul>
                                    <li>
                                        A candidate must have passed 10th Class or equivalent from a recognized Board or Institution.
                                    </li>
                                    <li>
                                        A candidate nust have passed Senior Secondary Examination under 10+2 scheme of a recognized Board or an Examination recognized by the Central Government as equivalent thereto or they has to passed National Diploma in Commerce Examination which is held by the All India Council for Technical Education or any other State Board of Technical Education under the authority of said All India Council, or the Diploma in the Rural Service Examination conducted by National Council of Higher Education.
                                    </li>
                                    <li>
                                        Registration Fee of ICMAI or CMA Foundation - Rs.4000 .
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            A candidate must have passed 10th Class or equivalent from a recognized Board or Institution. A candidate nust have passed Senior Secondary Examination under 10+2 scheme of a recognized Board or an Examination recognized by the Central Government as equivalent thereto or they has to passed National Diploma in Commerce Examination which is held by the All India Council for Technical Education or any other State Board of Technical Education under the authority of said All India Council, or the Diploma in the Rural Service Examination conducted by National Council of Higher Education.


                        </blockquote>

                        <div>
                            <h3>Subjects for CMA Foundation Course</h3>
                            <div>
                                <p>Number of paper: <b>four</b></p>
                                <p>
                                    Paper 1: Fundamentals of Economics and Management
                                </p>
                               <p>
                                Paper 2: Fundamentals of Accounting
                               </p>
                                <p>
                                    Paper 3: Fundamentals of Laws and Ethics
                                </p>
                                <p>
                                    Paper 4: Fundamentals of Business Mathematics and Statistic
                                </p>

                      

                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>


               

            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                   
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Professional Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professional Classes</a></li>

			<li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
             
            </div>
        </div><!-- end row -->
        <div class="row"  *ngIf="url === '/course-detail/cma/intermediate'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../../assets/images/blog8.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CMA Intermediate COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
We ensure that you receive the best content while also making you feel at ease with the dedicated hard work.
We also provides online classes – Engaging videos lectures,  Active doubt sessions and test papers..
Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by renowned faculties.
                            </p>
                        </div>
                        <div>
                    
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            <ul>
                                <li>
                                    The candidate should have cleared Senior Secondary School Examination (10+2) and Foundation Course of the Institute of Cost Accountants of India.
                                </li>
                                <li>
                                    Graduation in any stream other than Fine Arts.
                                </li>
                                <li>
                                    Foundation (First Level) Examination of CAT of the Institute.
                                    </li>
                                <li>
                                    Foundation (First Level) Examination and Competency Level Examination of CAT of the Institute.
                                </li>
                                <li>
                                    Passed Foundation of ICSI/Intermediate of ICAI by whatever name called along with 12th class.

                                </li>
                            </ul>
                        </blockquote>

                        <div>
                            <h3>Subjects for CMA Intermediate Course
                            </h3>
                            <div>
                                <p>Number of paper: <b>four</b></p>
                                <p>
                                    Paper 1: Financial Accounting

                                </p>
                                <p>
                                    Paper 2: Laws, Ethics and Governance
                                </p>
                                <p>

                                    Paper 3: Direct Taxation
                                </p>
                                <p>
                                    Paper 4: Cost accounting and financial management
                                </p>
                                <p>
                                    Paper 5: Operation Management Information System
                                </p>
                                <p>
                                    Paper 6: Cost and Management Accounting
                                </p>
                                <p>
                                    Paper 7: Indirect Taxation
                                </p>
                                <p>
                                    Paper 8: Company Accounts & Audit
                                </p>
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>



            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                   
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation">CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes </a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Professional Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation" >CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professional Classes</a></li>

			            <li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final"> CMA Professional Classes</a></li>

                    </ul>
                </div>
               
            </div>
        </div><!-- end row -->
        <div class="row"  *ngIf="url === '/course-detail/cma/final'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../../assets/images/blog9.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CMA Professional COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
We ensure that you receive the best content while also making you feel at ease with the dedicated hard work.
We also provides online classes – Engaging videos lectures,  Active doubt sessions and test papers..
Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by renowned faculties.
                            </p>
                        </div>
                        <div>
                           
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                           <ul>
                            <li>
                                The candidate should have cleared Senior Secondary School Examination 12th and Foundation Course of the Institute of Cost Accountants of India.
                            </li>
                            <li>
                                Graduation in any category other than Fine Arts.
                            </li>
                            <li>
                                Foundation (First Level) Part I Examination of CAT of the Institute.
                            </li>
                            <li>
                                Foundation (First Level) Part I Examination and Competency Level Part II Examination of CAT of the Institute.
                            </li>
                            <li>
                                Passed Foundation of ICSI/Intermediate of ICAI by whatever name called along with 12th class
                            </li>
                           </ul>
                        </blockquote>

                        <div>
                            <h3>Subjects for CMA Professional Course</h3>
                            <div>
                                <p>
                                    Paper 1: Corporate Laws and Compliance
                                </p>
                               <p>
                                Paper 2: Advanced Financial Management
                               </p>
                               <p>
                                Paper 3: Business Strategy & Strategic Cost Management
                               </p>
                              <p>
                                Paper 4: Tax Management and Practice
                              </p>
                              <p>
 
                                Paper 5: Strategic Performance Management
                              </p>
                                <p>
                                    Paper 6: Corporate Financial Reporting
                                </p>
                              <p>

                                Paper 7: Cost and Management Audit
                              </p>
                              <p>


                                Paper 8: Financial Analysis & Business Valuation
                              </p>
                                
                              
                                      
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>



            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                   
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Professional Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink="/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professional Classes</a></li>

			<li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink="/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink="/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
               
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="parallax section dbcolor">
    <div class="container">
        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_01.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_02.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_03.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_04.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_05.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_06.png" alt="" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->