<div class="all-title-box">
    <div class="container text-center">
        <h1 *ngIf="url === '/course-detail/ca/foundation'">CA FOUNDATION COURSE</h1>
        <h1 *ngIf="url === '/course-detail/ca/intermediate'">CA INTERMEDIATE COURSE</h1>
        <h1  *ngIf="url === '/course-detail/ca/final'">CA PROFESSIONAL COURSE</h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="row" *ngIf="url === '/course-detail/ca/foundation'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../../assets/images/blog_1.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CA FOUNDATION COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
                                We ensure that you receive the best content while also making you feel at ease with the
                                dedicated hard work.
                                We also provides online classes – Engaging videos lectures, Active doubt sessions and
                                test papers..
                                Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by
                                renowned faculties.
                            </p>
                        </div>
                        <div>
                            <h4>
                                About CA Foundation
                            </h4>
                            <div>
                                <ul>
                                    <li>
                                        It is an entry level exam for Chartered Accountancy Course, which is conduct
                                        twice a year in May and November for registered students of CA Foundation
                                        Course.
                                    </li>
                                    <li>
                                        Foundation include four subjects viz., Accounting, Business Law & Business
                                        Correspondence and Reporting, Business Economics & Business and Commercial
                                        Knowledge, and Business Mathematics & Logical Reasoning &Statistics.
                                    </li>
                                    <li>
                                        Total markes in CA Foundation course is 400
                                    </li>
                                    <li>
                                        It will be based on Objective & Descriptive level test.

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            Students who want to pursue Chartered Accountancy Course, can be register for the CA
                            Foundation after passing 10th examination and can be appear in the Chartered Accountancy
                            Foundation either on appearing or passing 10+2 examination.


                        </blockquote>

                        <div>
                            <h3>Subjects for CA Foundation Course</h3>
                            <div>
                                <p>Number of paper: <b>four</b></p>

                                <p>Paper 1: Principles and Practices of Accounting (100 Marks)</p>

                                <p>Paper 2: Business Law & Business Correspondence and Reporting (100 Marks)</p>

                                <p>
                                    Section A: Business Law (60 Marks)
                                </p>
                                <p>
                                    Section B: Business Correspondence and Reporting (40 Marks)
                                </p>
                                <p>
                                    Paper 3: Business Mathematics and Logical Reasoning &Statistics (100 Marks)
                                </p>
                                <p>
                                    Part I: Business Mathematics and Logical Reasoning (60 Marks)
                                </p>
                                <p>
                                    Part II: Statistics (40 Marks)
                                </p>

                                <p>
                                    Paper 4*: Business Economics & Business and Commercial Knowledge (100 Marks)
                                </p>
                                <p>
                                    Part I: Business Economics (60 Marks)
                                </p>
                                <p>
                                    Part II: Business and Commercial Knowledge (40 Marks)
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>


             

            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                   
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Professional Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professional Classes</a></li>

			<li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
             
            </div>
        </div><!-- end row -->
        <div class="row"  *ngIf="url === '/course-detail/ca/intermediate'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="./../assets/images/blog_2.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CA INTERMEDIATE COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
We ensure that you receive the best content while also making you feel at ease with the dedicated hard work.
We also provides online classes – Engaging videos lectures,  Active doubt sessions and test papers..
Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by renowned faculties.
                            </p>
                        </div>
                        <div>
                            <h4>
                                About CA Intermediate
                            </h4>
                            <div>
                                <ul>
                                    <li>
                                        Students who passes the CA-Foundation exam they can enroll in CA-inter Course.
                                    </li>
                                    <li>
                                        Or Student who is commerce graduate and obtained 55% or more marks from recognized university may take admission in CA-INTER directly.
                                    </li>
                                    <li>
                                        Student who is graduate (Other than commerce stream) and obtained 60% or more marks from recognized university may take admission directly in CA-INTER
                                    </li>
                                    <li>
                                        This test has 2 Groups, each group have 4 papers, student have choice to give both group in single time or signle group exam.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            Students who passes the CA-Foundation exam they can enroll in CA-inter Course. Or Student who is commerce graduate and obtained 55% or more marks from recognized university may take admission in CA-INTER directly. Student who is graduate (Other than commerce stream) and obtained 60% or more marks from recognized university may take admission directly in CA-INTER


                        </blockquote>

                        <div>
                            <h3>Subjects for CA Intermediate Course</h3>
                            <div>
                                <h4>GROUP A</h4>
                                <p>Number of paper: <b>four</b></p>

                                <p>Paper 1: Accounting(100 Marks)</p>

                                <p>Paper 2: CORPORATE AND OTHER LAW

                                </p>

                                <p>
                                    Section A: CORPORATE LAWS (60 MARKS)
                                </p>
                                <p>
                                    Section B: OTHER LAWS (40 MARKS)
                                </p>
                                <p>
                                    Paper 3: TAXATION
                                </p>
                                <p>
                                    Part I: DIRECT TAX LAWS (60 MARKS)
                                </p>
                                <p>
                                    Part II: INDIRECT TAX LAWS (40 MARKS)
                                </p>

                                <p>
                                    Paper 4*: COST AND MANAGEMENT ACCOUNTING


                                </p>
                                <h4>GROUP B</h4>
                                <p>
                                    Paper 1: ADVANCED ACCOUNTING
                                </p>
                                <p>
                                    Paper 2: AUDITING AND ASSURANCE
                                </p>
                                <p>
                                    Paper 3: ENTERPRISE INFORMATION SYSTEM & STRATEGIC MANAGEMENT
                                </p>
                                <p>
                                    Section A: EIS (50 MARKS)
                                </p>

                                <p>
                                    Section B: SM (50 MARKS)
</p>
                                    <p>
                                        Paper 4: FINANCIAL MANAGEMENT & ECONOMICS FOR FINANCE
                                    </p>
<p>
    Part I: FM (60 MARKS)
</p>

<p>
    Part II: INDIRECT TAX LAWS (40 MARKS)
</p>
<p>
    Paper 4*: ECONOMICS FOR FINANCE (40 MARKS)
</p>



                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>


               
            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                  
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Professional Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professionall Classes</a></li>

			<li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
               
            </div>
        </div><!-- end row -->
        <div class="row"  *ngIf="url === '/course-detail/ca/final'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../../assets/images/blog_3.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CA PROFESSIONAL COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
We ensure that you receive the best content while also making you feel at ease with the dedicated hard work.
We also provides online classes – Engaging videos lectures,  Active doubt sessions and test papers..
Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by renowned faculties.
                            </p>
                        </div>
                        <div>
                            <h4>
                                About CA Professional
                            </h4>
                            <div>
                                <ul>
                                    <li>The candidate who have passed the Intermediate examination or Professional Education Examination – II./PCC/IPCC, are eligible to apply for the Final exam.Students who passes the CA-Foundation exam they can enroll in CA-inter Course.
                                    </li>
                                    <li>
                                        They must also have completed 3 years or 3½ years or must be due to complete, as the case may be, of article training as on the date of filling the form.
                                    </li>
                                    <li>
                                        For PCC stream students- The candidate must be serving the last six months of articled training including excess leave if any, and due to complete 3½ years on or before 30th April of the examination year.
                                    </li>
                                    <li>
                                        For Intermediate IPCC students - The candidate must be serving the last six months of training including excess leave if any, and due to complete 3 years on or before 30 April of the examination year.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            They must also have completed 3 years or 3½ years or must be due to complete, as the case may be, of article training as on the date of filling the form. For PCC stream students- The candidate must be serving the last six months of articled training including excess leave if any, and due to complete 3½ years on or before 30th April of the examination year. For Intermediate IPCC students - The candidate must be serving the last six months of training including excess leave if any, and due to complete 3 years on or before 30 April of the examination year.



                        </blockquote>

                        <div>
                            <h3>Subjects for CA Professional Course</h3>
                            <div>
                                <p>
                                    Paper 1: Financial Reporting
                                </p>
                               
<p>
    Paper 2: Strategic Financial Management
</p>
<p>
    Paper 3: Advanced Auditing and Professional Ethics
</p>
<p>
    Paper 4: Corporate and Allied Laws
</p>
<p>
    Paper 5: Strategic Cost Management and Performance Evaluation
</p>
                               
                                
                               
                                
                               
                                
                              


                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>



            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                   
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Professional Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professional Classes</a></li>

			<li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
              
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="parallax section dbcolor">
    <div class="container">
        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_01.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_02.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_03.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_04.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_05.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_06.png" alt="" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->