<div class="all-title-box">
    <div class="container text-center">
        <h1>Important Links
            <!-- <span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span> -->
        </h1>
    </div>
</div>

<div id="overviews" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <!-- <h3>Important Links</h3> -->
                <!-- <p class="lead">
                    Many students wanted to do these courses but struggle in getting proper guidence and coaching. Don't worry, Prominent Academy (Sumit Arora Classes) dealing in CA, CS and CMA Courses with professional expertise team and with these courses we also develope your overall personality so that you don't have to struggle in your life. We produce rank holders and we do whatever we commit. Chartered accountants are considered as the partner in nation building. Edu Junction is trying to provide the best education and guidance to the CA Students of Delhi NCR. Our success stories include hundreds of students who cracked the one of toughest examination of India, increased their knowledge, improved their communication skills, got motivated for bigger purposes in life. Edu Junction was Founded by CA Saurabh Chaudhary along with CA Dushyant Sharma
                </p> -->
            </div>
        </div><!-- end title -->
    
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> <a href="https://boslive.icai.org/education_content.php?p=Study%20Material&c=foundation">CA Foundation Study Material</a></li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> <a href="https://boslive.icai.org/education_content.php?p=Study%20Material&c=intermediate">CA Intermediate Study Material</a></li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> <a href="https://boslive.icai.org/education_content.php?p=Study%20Material&c=final">CA Professional Material</a></li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> <a href="https://www.icsi.edu/studymaterialnewsyllabusfnd2017/">CA foundation Program</a></li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> <a href="https://www.icsi.edu/studymaterialnewsyllabusexe2017/">CA Executive Program</a></li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> <a href="https://www.icsi.edu/study-material-professional-programme-new-syllabus-2017/">CS Professional Program</a></li>  
                    <li> <i class="fa fa-check" aria-hidden="true"></i> <a href="https://icmai.in/studentswebsite/studymat.php#">CMA Foundation/Intermediate and Final study material</a></li>  
                </ul>
    </div><!-- end container -->
</div><!-- end section -->



