<div class="all-title-box">
    <div class="container text-center">
        <h1>About Us
            <!-- <span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span> -->
        </h1>
    </div>
</div>

<div id="overviews" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>About Us</h3>
                <!-- <p class="lead">
                    Many students wanted to do these courses but struggle in getting proper guidence and coaching. Don't worry, Prominent Academy (Sumit Arora Classes) dealing in CA, CS and CMA Courses with professional expertise team and with these courses we also develope your overall personality so that you don't have to struggle in your life. We produce rank holders and we do whatever we commit. Chartered accountants are considered as the partner in nation building. Edu Junction is trying to provide the best education and guidance to the CA Students of Delhi NCR. Our success stories include hundreds of students who cracked the one of toughest examination of India, increased their knowledge, improved their communication skills, got motivated for bigger purposes in life. Edu Junction was Founded by CA Saurabh Chaudhary along with CA Dushyant Sharma
                </p> -->
            </div>
        </div><!-- end title -->
    
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h4>2023 BEST CA/CS/CMA Coaching Center</h4>
                    <h2>Welcome to Prominent Academy (Sumit Arora Classes)</h2>
                    <p>Chartered Accountants are highly demanded professionals in industry & are handsomely paid. Many students strive for getting proper guidance and coaching. Prominent Academy is dealing in CA, CS and CMA Courses with professional expertise team and with these courses we also develop child overall personality. </p>

                    <p> Chartered accountants are considered as the partner in nation building. Prominent Academy provides the best education and guidance to the CA Students. Prominent Academy was founded by CA SUMIT ARORA. </p>
<p>
    Students achieve excellent and progressive academic results year on year. The dedication of our faculty and the keen interest exhibited by our students has produced a commendable academic record with ranks every year in various batches.
</p>
<p>
    We believe that discipline is the bridge between goals and accomplishment, in that way we are consistently able to achieve victory every year. We are proud of the continuous dedication and hardwork of faculties and students witness every academic period.
</p>
                    <!-- <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> -->
                </div><!-- end messagebox -->
            </div><!-- end col -->
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="../../assets/pro/about1.jpeg" alt="Prominent academy about us image" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="../../assets/pro/about2.jpeg" alt="Prominent academy about us image" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>Teaching Style</h2>
                    <p>Our lectures are designed to make learning easier and more efficient. We believe in educating with the aim to provide conceptual clarity which helps students to ace the CA exams. Our Pendrive classes are unique and thoroughly cover the material to ensure that you are ready for your exam attempt.</p>
                    <h2>ICAI Study Material</h2>
                    <p> ICAI’s study material is the most important study material issued by ICAI. 90% of the questions of Final Examinations are framed from the study material issued by ICAI. Our notes, conceptual explanations, test papers, everything revolves around the ICAI study material so as to make the students familiar with it which will further help them in scoring better marks.</p>

                    <!-- <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> -->
                </div><!-- end messagebox -->
            </div><!-- end col -->
            
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="hmv-box">
    <div class="container">
        <div class="row">
            <h2 style="text-align:center">WHY STUDENT SHOULD JOIN PROMINENT ACADEMY?</h2>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                    <h3>Result Oriented</h3>
                    <div class="tr-pa">M</div>
                    <p>Prominent Academy is one of the best and leading coaching classes. We are committed to providing quality education providing in-depth knowledge of all the subjects of CA, CS, and CMA. Our teaching methodology makes us no. 1 institute in Kalka ji,Shekh Sarai , MadanGiri Delhi.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                    <h3>Proper Environment</h3>
                    <div class="tr-pa">V</div>
                    <p>Study environment means the physical, psychological and social circumstances that are of significance for the students' well-being and how they function in their study situation. At Prominent Academy we provide stress free environment so that student can well focus on their study.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                    <h3>Eexperinced Faculty</h3>
                    <div class="tr-pa">H</div>
                    <p>TThe faculties of Prominent Academy are qualified CA/CS/CMA. We provide empty classroom for students to study. All faculties are young, energetic and experienced in their subjects and always ready to help students even after class through watsapp message, text messages.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('images/parallax_04.jpg');">
    <div class="container">
        <div class="section-title text-center">
            <h3>Testimonials</h3>
            <p>Lorem ipsum dolor sit aet, consectetur adipisicing lit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="testi-carousel owl-carousel owl-theme">
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="images/testi_01.png" alt="" class="img-fluid">
                            <h4>James Fernando </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                        
                    </div>
                  

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="images/testi_02.png" alt="" class="img-fluid">
                            <h4>Jacques Philips </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                       
                    </div>
                   

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="images/testi_03.png" alt="" class="img-fluid ">
                            <h4>Venanda Mercy </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                       
                    </div>
                   
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="images/testi_01.png" alt="" class="img-fluid">
                            <h4>James Fernando </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                       
                    </div>
                   

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="images/testi_02.png" alt="" class="img-fluid">
                            <h4>Jacques Philips </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                      
                    </div>
                   

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="images/testi_03.png" alt="" class="img-fluid">
                            <h4>Venanda Mercy </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="parallax section dbcolor">
    <div class="container">
        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="images/logo_01.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="images/logo_02.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="images/logo_03.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="images/logo_04.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="images/logo_05.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="images/logo_06.png" alt="" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
