
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> 
                            Chartered Accountants are highly demanded professionals in industry & are handsomely paid. Many students strive for getting proper guidance and coaching. Prominent Academy is dealing in CA, CS and CMA Courses with professional expertise team and with these courses we also develop child overall personality. 
                        </p>
                        <div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="https://www.facebook.com/CaSumitAroraClasses"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://instagram.com/prominent_academy_?igshid=ZDdkNTZiNTM="><i class="fa fa-instagram"></i></a></li>
								<li><a href="https://www.youtube.com/@casumitarora7874"><i class="fa fa-youtube"></i></a></li>
								<li><a href="https://twitter.com/Prominentedu14"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/prominent-academy-aa4542268/"><i class="fa fa-linkedin"></i></a></li>
							</ul><!-- end links -->
						</div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a routerLink="/faculty">Faculty</a></li>
							<li><a routerLink="/gallery">Gallery</a></li>
							<li><a routerLink="/result">Result</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a>prominentacademy72@gmail.com</a></li>
                            <li>50B Pocket J Sheikh Sarai phase 2, Opposite Bhagat Singh college</li>
                            <li>+91 98913 73960</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2023 <a>Prominent Academy</a> Design By : <a>Anveshika Srivastava</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->
    
