<div class="all-title-box">
    <div class="container text-center">
        <h1  *ngIf="url === '/course-detail/cs/foundation'">CSEET COURSE</h1>
        <h1  *ngIf="url === '/course-detail/cs/intermediate'">CS EXECUTIVE COURSE</h1>
        <h1 *ngIf="url === '/course-detail/cs/final'">CS PROFESSIONAL COURSE</h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="row"  *ngIf="url === '/course-detail/cs/foundation'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../../assets/images/blog_4.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CSEET COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
                                We ensure that you receive the best content while also making you feel at ease with the
                                dedicated hard work.
                                We also provides online classes – Engaging videos lectures, Active doubt sessions and
                                test papers..
                                Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by
                                renowned faculties.
                            </p>
                        </div>
                        <div>
                            <h4>
                                About CS Foundation
                            </h4>
                            <div>
                                <ul>
                                    <li>
                                        Student passed / appearing in the Intermediate Examination or equivalent is eligible to appear in the CSEET.
                                    </li>
                                    <li>
                                        All Graduates/ Post Graduates student who were eligible for registration directly to CS Executive Programme, are also required to pass the CSEET to become eligible for registration to Executive Programme.
                                    </li>
                                    <li>
                                        Exam Will be Computer Based Test, Objective Type / Multiple Choice Questions, (+) viva-voce for testing listening, written communication and oral communication skills.
                                    </li>
                                    <li>
                                        Exam duration will be 120 minutes and viva-voce on Presentation and Communication Skills of 15 Minutes.

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            Student passed / appearing in the Intermediate Examination or equivalent is eligible to appear in the CSEET. All Graduates/ Post Graduates student who were eligible for registration directly to CS Executive Programme, are also required to pass the CSEET to become eligible for registration to Executive Programme.


                        </blockquote>

                        <div>
                            <h3>Subjects for CSEET Course</h3>
                            <div>
                                <p>Number of paper: <b>four</b></p>
                                <p>
                                    Paper 1: BUSINESS COMMUNICATION
                                </p>
                                <p>
                                    Paper 2: Business Law & Business Correspondence and Reporting (100 Marks)
                                </p>
                               
                                    <p>
                                        Paper 3: LEGAL APTITUDE AND LOGICAL REASONING
                                    </p>

                                        <p>
                                            Paper 4: ECONOMIC AND BUSINESS ENVIRONMENT
                                        </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>



            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                    
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Final Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS ProfessionalClasses</a></li>

			            <li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
               
            </div>
        </div><!-- end row -->
        <div class="row"  *ngIf="url === '/course-detail/cs/intermediate'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="./../assets/images/blog_5.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CS EXECUTIVE COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
We ensure that you receive the best content while also making you feel at ease with the dedicated hard work.
We also provides online classes – Engaging videos lectures,  Active doubt sessions and test papers..
Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by renowned faculties.
                            </p>
                        </div>
                        <div>
                            <h4>
                                About CS executive
                            </h4>
                            <div>
                                <ul>
                                    <li>
                                        Student who passed foundation exam is eligible for this exam and CS Exam is conducted twice in a year – June and December.
                                    </li>
                                    <li>
                                        CS Executive course can be pursued by a Graduates of all streams student except Fine Arts.
                                    </li>
                                    <li>
                                        Candidates who passed the cs Foundation examination are eligible for exemption and are not less than 17 years of age may seek registration as a student for the Executive Programme.
                                    </li>
                                    <li>
                                        Admission to the CS Course is open throughout the year. Examinations are held twice a year in June & December.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            Student who have passed the entrance exam of the Institute of Chartered Accountants of India (ICAI) or the Institute of Cost Accountants of India (ICMAI) then you are able to take direct entry in Executive Programme of the Institute of Company Secretaries of India (ICSI).


                        </blockquote>

                        <div>
                            <h3>Subjects for CA Executive Course</h3>
                            <div>
                                <p>Number of paper: <b>four</b></p>
                                <h4>Module I (4 papers)</h4>
                              <p>
                                Paper 1: Company Law
                              </p>
                               <p>
                                Paper 2: Cost & Management Accounting
                               </p>
                                <p>
                                    Paper 3: Economic and Commercial Laws
                                </p>
                               <p>
                                Paper 4:Tax Laws & Practice
                               </p>
  <h4>Module II (3 papers)</h4>
  <p>
    Paper 1: Company Accounts and Auditing Practices
  </p>
<p>
    Paper 2: Capital Markets and Securities Laws
</p>
<p>
    Paper 3: Industrial, Labour and General Laws
</p>



                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>


             

            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                   
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Professional Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professional Classes</a></li>

		            	<li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
             
            </div>
        </div><!-- end row -->
        <div class="row"  *ngIf="url === '/course-detail/cs/final'">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../../assets/images/blog_6.jpg" height="100px" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">


                        <div class="blog-title">
                            <h2>CS PROFESSIONAL COURSE</h2>
                        </div>
                        <div class="blog-desc">
                            <p>
                                The profession of chartered accountants need a higher degree of dedication.
We ensure that you receive the best content while also making you feel at ease with the dedicated hard work.
We also provides online classes – Engaging videos lectures,  Active doubt sessions and test papers..
Prominent Academy is the best coaching centre in Kalkaji.. As we provide classes by renowned faculties.
                            </p>
                        </div>
                        <div>
                            <h4>
                                About CS Professional
                            </h4>
                            <div>
                                <ul>
                                    <li>CS Professional Programme can be pursued only after clearing the Executive Programme of CS Course. The examination is conducted twice a year in June and December
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <blockquote class="default">
                            <h4>
                                Eligibility
                            </h4>
                            Professional Programme can be pursued only after clearing the Executive Programme of CS Course. The examination is conducted twice a year in June and December

                        </blockquote>

                        <div>
                            <h3>Subjects for CS Professional Course</h3>
                            <div>
                                <p>
                                    Paper 1: Financial Reporting
                                </p>
                               <h4>Module I</h4>
                                <p>
                                    Paper 1: Company Secretarial Practice
                                </p>
                                <p>
                                    Paper 2: Drafting, Appearances, and Pleadings
                                </p>
                             

                                <h4>Module II</h4>
                                <p>
                                    Paper 1: Financial, Treasury and Forex Management


                                </p>
                                <p>
                                    Paper 2: Corporate Restructuring and Insolvency
                                </p>
                             
                                <h4>Module III</h4>
                                <p>
                                    Paper 1: Strategic Management, Alliances, and International Trade
                                
                                </p>
                                <p>
                                    Paper 2: Advance Tax Laws and Practices
                                </p>
                               
                             
                                <h4>
                                    Module IV
                                </h4>
                                <p>
                                    Paper 1: Due Diligence and Corporate Compliance Management
                                </p>
                             <p>
                                Paper 2: Governance, Business Ethics, and Sustainability
                             </p>
                             
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a >CA Sumit Arora
</a></h3>
                        <h5>CEO at <a >Prominent Academy</a></h5>
                        <p class="author_det">
                         A teacher is a person with commendable skills for helping  is Legacy,guiding ,helping solve a problem. CASumit arora has completed his graduation from Bhagat Singh College & fellow member of the isNgContainer. He cleared both groups intermediate in his very first attemot. he is also a member of institue of internal auditor(U.S). He has topped in CMA (foundation) securing 95% in accountancy. He has scored on an average 80% in every exam of accountancy.

                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="../../../assets/images/teacher3.jpeg" alt="about author">
                        <ul class="author-social">
                            <li><a ><i class="fa fa-facebook"></i></a></li>
                            <li><a ><i class="fa fa-twitter"></i></a></li>
                            <li><a ><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>


               

            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                 
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li><a  routerLink="/course-detail/ca/foundation" >CA Foundation Classes</a></li>

                        <li><a routerLink= "/course-detail/ca/intermediate">CA Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/ca/final">CA Final Classes</a></li>

                      <li><a routerLink="/course-detail/cs/foundation">CS Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cs/intermediate">CS Intermediate Classes</a></li>
                        <li><a routerLink="/course-detail/cs/final">CS Professional Classes</a></li>

			<li><a routerLink="/course-detail/cma/foundation">CMA Foundation Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/intermediate">CMA Intermediate Classes</a></li>
                        <li><a  routerLink= "/course-detail/cma/final">CMA Professional Classes</a></li>

                    </ul>
                </div>
               
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="parallax section dbcolor">
    <div class="container">
        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_01.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_02.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_03.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_04.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_05.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a ><img src="images/logo_06.png" alt="" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->